=============== #@Menu@ Setup

---------- #@Submenu@ Potts / Cell Field / Dim
Potts3D *potts = simulator->getPotts();
WatchableField3D<CellG *> *cellFieldG = (WatchableField3D<CellG *> *)potts->getCellFieldG();
if (!cellFieldG) {
    throw CC3DException("Cell field cannot be null");
}
Dim3D fieldDim = cellFieldG->getDim();

---------- #@Submenu@ Common Cached Pointers
potts = simulator->getPotts();
cellFieldG = (WatchableField3D<CellG *> *)potts->getCellFieldG();
cellInventoryPtr = &potts->getCellInventory();
boundaryStrategy = BoundaryStrategy::getInstance();
automaton = potts->getAutomaton();
xmlData = _xmlData;

---------- #@Submenu@ Neighbor Order Setup
boundaryStrategy = BoundaryStrategy::getInstance();
unsigned int maxNeighborIndex = boundaryStrategy->getMaxNeighborIndexFromNeighborOrder(NEIGHBOR_ORDER);

---------- #@Submenu@ Store XML And Register Steerable
xmlData = _xmlData;
simulator->registerSteerableObject(this);

---------- #@Submenu@ Preload Plugin
// This code is usually called from init
bool pluginAlreadyRegisteredFlag;
Plugin *plugin = Simulator::pluginManager.get("PLUGIN_NAME", &pluginAlreadyRegisteredFlag);
if (!pluginAlreadyRegisteredFlag)
    plugin->init(simulator);

---------- #@Submenu@ Register Energy Function
potts->registerEnergyFunctionWithName(this, toString());

---------- #@Submenu@ Register Cell Change Watcher
potts->registerCellGChangeWatcher(this);

---------- #@Submenu@ Register Fixed Steppers
potts->registerStepper(this);

=============== #@Menu@ Visit

---------- #@Submenu@ All Cells
CellInventory::cellInventoryIterator cInvItr;
CellG *cell = 0;

for (cInvItr = cellInventoryPtr->cellInventoryBegin(); cInvItr != cellInventoryPtr->cellInventoryEnd(); ++cInvItr) {
    cell = cellInventoryPtr->getCell(cInvItr);
    // Put your code here
    cerr << "cell id=" << cell->id << endl;
}

---------- #@Submenu@ Pixel Neighbors
Neighbor neighbor;
CellG *nCell = 0;
Point3D pt;

for (unsigned int nIdx = 0; nIdx <= maxNeighborIndex; ++nIdx) {
    neighbor = boundaryStrategy->getNeighborDirect(const_cast<Point3D &>(pt), nIdx);
    if (!neighbor.distance) {
        // if distance is 0 then the neighbor returned is invalid
        continue;
    }
    nCell = cellFieldG->get(neighbor.pt);

    if (nCell) {
        cerr << "neighbor pixel cell id=" << nCell->id << endl;
    }
}

---------- #@Submenu@ Cell Pixels Matching Cell
Neighbor neighbor;
CellG *nCell = 0;
Point3D pt;

for (unsigned int nIdx = 0; nIdx <= maxNeighborIndex; ++nIdx) {
    neighbor = boundaryStrategy->getNeighborDirect(const_cast<Point3D &>(pt), nIdx);
    if (!neighbor.distance) {
        continue;
    }
    nCell = cellFieldG->get(neighbor.pt);
    if (nCell != cell) {
        continue;
    }

    // Put your code here
}

---------- #@Submenu@ Compartments Of A Cluster
CC3DCellList compartments = potts->getCellInventory().getClusterInventory().getClusterCells(CELL->clusterId);
for (int i = 0; i < compartments.size(); ++i) {
    cerr << "compartment id=" << compartments[i]->id << endl;
}

---------- #@Submenu@ Entire Lattice
Point3D pt;
for (pt.x = 0; pt.x < fieldDim.x; ++pt.x)
    for (pt.y = 0; pt.y < fieldDim.y; ++pt.y)
        for (pt.z = 0; pt.z < fieldDim.z; ++pt.z) {
            CellG *cell = cellFieldG->get(pt);
            // Put your code here
        }

=============== #@Menu@ Cell Operations

---------- #@Submenu@ Get Cell At Pixel
Point3D pt(X, Y, Z);
CellG *cell = cellFieldG->get(pt);

---------- #@Submenu@ Get Type Id From Name
Automaton *automaton = potts->getAutomaton();
unsigned char typeId = automaton->getTypeId("CELL_TYPE_NAME");

---------- #@Submenu@ Set Cell Type
Automaton *automaton = potts->getAutomaton();
cell->type = automaton->getTypeId("CELL_TYPE_NAME");

---------- #@Submenu@ Create Cell At Pixel
Point3D pt(X, Y, Z);
CellG *cell = potts->createCellG(pt);

---------- #@Submenu@ Create Cell With Explicit Spin
Point3D pt(X, Y, Z);
CellG *cell = potts->createCellGSpecifiedIds(pt, SPIN);

---------- #@Submenu@ Create Cell With Spin And Cluster
Point3D pt(X, Y, Z);
CellG *cell = potts->createCellGSpecifiedIds(pt, SPIN, CLUSTER_ID);

---------- #@Submenu@ Assign Type After Creation
Point3D pt(X, Y, Z);
CellG *cell = potts->createCellG(pt);
cell->type = potts->getAutomaton()->getTypeId("CELL_TYPE_NAME");

---------- #@Submenu@ Fill Box With Cell
Point3D seedPt(X0, Y0, Z0);
Point3D fillPt;
CellG *cell = potts->createCellG(seedPt);

for (fillPt.z = Z0; fillPt.z <= Z1; ++fillPt.z)
    for (fillPt.y = Y0; fillPt.y <= Y1; ++fillPt.y)
        for (fillPt.x = X0; fillPt.x <= X1; ++fillPt.x) {
            cellFieldG->set(fillPt, cell);
        }

---------- #@Submenu@ Create Cell And Run Steppers
Point3D pt(X, Y, Z);
CellG *cell = potts->createCellG(pt);
potts->runSteppers(); // useful when manual field updates should trigger VolumeTracker and related bookkeeping

---------- #@Submenu@ Set Pixel And Run Steppers
Point3D pt(X, Y, Z);
cellFieldG->set(pt, cell);
potts->runSteppers(); // useful after direct field writes outside copy attempts

=============== #@Menu@ Cell Attributes

---------- #@Submenu@ Get Extra Attribute
ACCESSOR_NAME.get(CELL->extraAttribPtr)->ATTRIBUTE_COMPONENT

---------- #@Submenu@ Set Extra Attribute
ACCESSOR_NAME.get(CELL->extraAttribPtr)->ATTRIBUTE_COMPONENT = VALUE;

---------- #@Submenu@ Register Extra Attribute Class
potts->getCellFactoryGroupPtr()->registerClass(&ACCESSOR_NAME);

=============== #@Menu@ XML Utils

---------- #@Submenu@ Find Element
bool flag = _xmlData->findElement("ELEMENT_NAME");

---------- #@Submenu@ Get Element
CC3DXMLElement *elem = _xmlData->getFirstElement("ELEMENT_NAME");

---------- #@Submenu@ Get Element As Double
double val = _xmlData->getFirstElement("ELEMENT_NAME")->getDouble();

---------- #@Submenu@ Get Element As Int
int val = _xmlData->getFirstElement("ELEMENT_NAME")->getInt();

---------- #@Submenu@ Get Element As UInt
unsigned int val = _xmlData->getFirstElement("ELEMENT_NAME")->getUInt();

---------- #@Submenu@ Get Element As Short
short val = _xmlData->getFirstElement("ELEMENT_NAME")->getShort();

---------- #@Submenu@ Get Element As UShort
unsigned short val = _xmlData->getFirstElement("ELEMENT_NAME")->getUShort();

---------- #@Submenu@ Get Element As Bool
bool val = _xmlData->getFirstElement("ELEMENT_NAME")->getBool();

---------- #@Submenu@ Get Element As Text
std::string val = _xmlData->getFirstElement("ELEMENT_NAME")->getText();

---------- #@Submenu@ Optional Element
if (_xmlData->findElement("ELEMENT_NAME")) {
    VALUE = _xmlData->getFirstElement("ELEMENT_NAME")->getTYPE();
}

---------- #@Submenu@ Find Attribute
bool flag = _xmlData->findAttribute("ATTR_NAME");

---------- #@Submenu@ Get Attribute As Text
std::string val = _xmlData->getAttribute("ATTR_NAME");

---------- #@Submenu@ Get Attribute As Double
double val = _xmlData->getAttributeAsDouble("ATTR_NAME");

---------- #@Submenu@ Get Attribute As Int
int val = _xmlData->getAttributeAsInt("ATTR_NAME");

---------- #@Submenu@ Get Attribute As UInt
unsigned int val = _xmlData->getAttributeAsUInt("ATTR_NAME");

---------- #@Submenu@ Get Attribute As Short
short val = _xmlData->getAttributeAsShort("ATTR_NAME");

---------- #@Submenu@ Get Attribute As UShort
unsigned short val = _xmlData->getAttributeAsUShort("ATTR_NAME");

---------- #@Submenu@ Get Attribute As Bool
bool val = _xmlData->getAttributeAsBool("ATTR_NAME");

---------- #@Submenu@ Process List Of Elements
CC3DXMLElementList elemVec = _xmlData->getElements("ELEMENT_NAME");
for (int i = 0; i < elemVec.size(); ++i) {
    // Put your code here
}

=============== #@Menu@ Include

---------- #@Submenu@ CC3D Header
#include <CompuCell3D/CC3D.h>

---------- #@Submenu@ Cell / Cluster Inventory
#include <CompuCell3D/Potts3D/CellInventory.h>

---------- #@Submenu@ Plugin Files
#include <CompuCell3D/plugins/PLUGIN_NAME/PLUGIN_FILE.h>

---------- #@Submenu@ Point3D / Dim3D
#include <CompuCell3D/Field3D/Point3D.h>
#include <CompuCell3D/Field3D/Dim3D.h>

---------- #@Submenu@ Field3D
#include <CompuCell3D/Field3D/Field3D.h>
#include <CompuCell3D/Field3D/WatchableField3D.h>

---------- #@Submenu@ Boundary Type Definitions
#include <CompuCell3D/Boundary/BoundaryTypeDefinitions.h>

---------- #@Submenu@ Boundary Strategy
#include <CompuCell3D/Boundary/BoundaryStrategy.h>

---------- #@Submenu@ Automaton
#include <CompuCell3D/Automaton/Automaton.h>

---------- #@Submenu@ Potts3D
#include <CompuCell3D/Potts3D/Potts3D.h>

---------- #@Submenu@ Simulator
#include <CompuCell3D/Simulator.h>

---------- #@Submenu@ Vector3
#include <PublicUtilities/Vector3.h>

---------- #@Submenu@ String Utils
#include <PublicUtilities/StringUtils.h>

---------- #@Submenu@ Numerical Utils
#include <PublicUtilities/NumericalUtils.h>
